<{if $block}>
  <{if "facebook"|in_array:$block.auth_method}>
    <a href="<{$block.facebook}>" ><img src="<{$xoops_url}>/modules/tad_login/images/facebook.png" alt="<{$smarty.const._MB_TADLOGIN_FB_LOGIN}>" title="<{$smarty.const._MB_TADLOGIN_FB_LOGIN}>"></a>
  <{/if}>
  

  <{if "google"|in_array:$block.auth_method}>
  <a href="<{$xoops_url}>/modules/tad_login/index.php?login&op=google" ><img src="<{$xoops_url}>/modules/tad_login/images/google.png" alt="<{$smarty.const._MB_TADLOGIN_GO_LOGIN}>" title="<{$smarty.const._MB_TADLOGIN_GO_LOGIN}>"></a>
  <{/if}>

  <{if "yahoo"|in_array:$block.auth_method}>
  <a href="<{$xoops_url}>/modules/tad_login/index.php?login&op=yahoo" ><img src="<{$xoops_url}>/modules/tad_login/images/yahoo.png" alt="<{$smarty.const._MB_TADLOGIN_YA_LOGIN}>" title="<{$smarty.const._MB_TADLOGIN_YA_LOGIN}>"></a>
  <{/if}>


  <{if "myid"|in_array:$block.auth_method}>
  <a href="<{$xoops_url}>/modules/tad_login/index.php?login&op=myid" ><img src="<{$xoops_url}>/modules/tad_login/images/openid.png" alt="<{$smarty.const._MB_TADLOGIN_YA_LOGIN}>" title="<{$smarty.const._MB_TADLOGIN_MY_LOGIN}>"></a>
  <{/if}>


  <{if "tn_openid"|in_array:$block.auth_method}>
  <a href="<{$xoops_url}>/modules/tad_login/index.php?op=tn" ><img src="<{$xoops_url}>/modules/tad_login/images/tn.png" alt="<{$smarty.const._MB_TADLOGIN_TN_LOGIN}>" title="<{$smarty.const._MB_TADLOGIN_TN_LOGIN}>"></a>
  <{/if}>


<{/if}>