<{$bootstrap}>
<{$jquery}>
<{$toolbar}>


<{if "facebook"|in_array:$auth_method}>
  <a href="<{$facebook}>" class="btn"><img src="images/facebook.png"><{$smarty.const._MD_TADLOGIN_FB_LOGIN}></a>
<{/if}>

<{if "google"|in_array:$auth_method}>
<a href="index.php?login&op=google" class="btn"><img src="images/google.png"><{$smarty.const._MD_TADLOGIN_GO_LOGIN}></a>
<{/if}>


<{if "yahoo"|in_array:$auth_method}>
<a href="index.php?login&op=yahoo" class="btn"><img src="images/yahoo.png"><{$smarty.const._MD_TADLOGIN_YA_LOGIN}></a>
<{/if}>

<{if "myid"|in_array:$auth_method}>
<a href="index.php?login&op=myid" class="btn"><img src="images/openid.png"><{$smarty.const._MD_TADLOGIN_MY_LOGIN}></a>
<{/if}>

<{if "tn_openid"|in_array:$auth_method}>
<a href="index.php?op=tn" class="btn"><img src="images/tn.png"><{$smarty.const._MD_TADLOGIN_TN_LOGIN}></a>
<{/if}>

