<{$bootstrap}>
<{$jquery}>
<{$toolbar}>


<{if "facebook"|in_array:$auth_method}>
  <a href="<{$facebook}>" class="btn btn-large btn-block"><img src="images/facebook.png" alt="<{$smarty.const._FACEBOOK}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._FACEBOOK}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "google"|in_array:$auth_method}>
<a href="index.php?login&op=google" class="btn btn-large btn-block"><img src="images/google.png" alt="<{$smarty.const._GOOGLE}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._GOOGLE}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>


<{if "yahoo"|in_array:$auth_method}>
<a href="index.php?login&op=yahoo" class="btn btn-large btn-block"><img src="images/yahoo.png" alt="<{$smarty.const._YAHOO}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._YAHOO}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "myid"|in_array:$auth_method}>
<a href="index.php?login&op=myid" class="btn btn-large btn-block"><img src="images/openid.png" alt="<{$smarty.const._MYID}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._MYID}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "kl"|in_array:$auth_method}>
<a href="index.php?login&op=kl" class="btn btn-large btn-block"><img src="images/kl.png" alt="<{$smarty.const._KL}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._KL}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "ntpc"|in_array:$auth_method}>
<a href="index.php?login&op=ntpc" class="btn btn-large btn-block"><img src="images/ntpc.png" alt="<{$smarty.const._NTPC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._NTPC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>


<{if "hcc"|in_array:$auth_method}>
<a href="index.php?login&op=hcc" class="btn btn-large btn-block"><img src="images/hcc.png" alt="<{$smarty.const._HCC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._HCC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>


<{if "hc"|in_array:$auth_method}>
<a href="index.php?login&op=hc" class="btn btn-large btn-block"><img src="images/hc.png" alt="<{$smarty.const._HC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._HC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "mlc"|in_array:$auth_method}>
<a href="index.php?login&op=mlc" class="btn btn-large btn-block"><img src="images/mlc.png" alt="<{$smarty.const._MLC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._MLC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "tc"|in_array:$auth_method}>
<a href="index.php?login&op=tc" class="btn btn-large btn-block"><img src="images/tc.png" alt="<{$smarty.const._TC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._TC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "chc"|in_array:$auth_method}>
<a href="index.php?login&op=chc" class="btn btn-large btn-block"><img src="images/chc.png" alt="<{$smarty.const._CHC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._CHC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "ntct"|in_array:$auth_method}>
<a href="index.php?login&op=ntct" class="btn btn-large btn-block"><img src="images/ntct.png" alt="<{$smarty.const._NTCT}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._NTCT}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "ylc"|in_array:$auth_method}>
<a href="index.php?login&op=ylc" class="btn btn-large btn-block"><img src="images/ylc.png" alt="<{$smarty.const._YLC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._YLC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "cyc"|in_array:$auth_method}>
<a href="index.php?login&op=cyc" class="btn btn-large btn-block"><img src="images/cyc.png" alt="<{$smarty.const._CYC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._CYC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "cy"|in_array:$auth_method}>
<a href="index.php?login&op=cy" class="btn btn-large btn-block"><img src="images/cy.png" alt="<{$smarty.const._CY}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._CY}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "tn"|in_array:$auth_method}>
<a href="index.php?op=tn" class="btn btn-large btn-block"><img src="images/tn.png" alt="<{$smarty.const._TN}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._TN}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>


<{if "ptc"|in_array:$auth_method}>
<a href="index.php?login&op=ptc" class="btn btn-large btn-block"><img src="images/ptc.png" alt="<{$smarty.const._PTC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._PTC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "hlc"|in_array:$auth_method}>
<a href="index.php?login&op=hlc" class="btn btn-large btn-block"><img src="images/hlc.png" alt="<{$smarty.const._HLC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._HLC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "ilc"|in_array:$auth_method}>
<a href="index.php?login&op=ilc" class="btn btn-large btn-block"><img src="images/ilc.png" alt="<{$smarty.const._ILC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._ILC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>

<{if "phc"|in_array:$auth_method}>
<a href="index.php?login&op=phc" class="btn btn-large btn-block"><img src="images/phc.png" alt="<{$smarty.const._PHC}>"><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._PHC}><{$smarty.const._MD_TADLOGIN_USE}><{$smarty.const._LOGIN}></a>
<{/if}>


